{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {{ parent() }}

    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Welcome to Foodpapers !✅</h1>
    <div class="card bg-dark text-dark">
        <img class="card-img" src="{{ asset('images/journal.jpg') }}" alt="Card image">
        <div class="card-img-overlay">
        </div>
    </div>


    <div class="container mt-2 mb-2">
        <p>
            Voici tout les articles disponibles dans notre journal.</p>
        <p>
            Connectez vous pour voir plus de contenu.
        </p>

        {% for article in articles %}

            <div class="card mb-3" style="max-width: 600px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ article.image }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{{ path('article_detail', {'article' : article.id}) }}">
                                <h5 class="card-title">{{ article.title }}</h5>
                            </a>
                            <p class="card-text">{{ article.contents | truncate(30) }}</p>
                            <p class="card-text"><small class="text-muted">{{ article.publicationDate| date('d/m/Y') }}</small></p>
                            <a href="{{ path('article_detail', {'article' : article.id}) }}" class="card-link">See details</a>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

{#        <div class="card-deck">#}
{#            {% for article in articles %}#}
{#                <div class="card text-center" style="width: 18rem;">#}
{#                    <img class="card-img-top" src="{{ article.image }}" alt="Card image cap">#}
{#                    <div class="card-body">#}
{#                        <a href="{{ path('article_detail', {'article' : article.id}) }}">#}
{#                            <h5 class="card-title">{{ article.title }}</h5>#}
{#                        </a>#}
{#                        <h6 class="card-subtitle mb-2 text-muted">{{ article.publicationDate| date('d/m/Y') }}</h6>#}
{#                        <p class="card-text"> {{ article.contents }}</p>#}
{#                        <a href="{{ path('article_detail', {'article' : article.id}) }}" class="card-link">See details</a>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
    </div>
</div>
{% endblock %}

